* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: grid; */
  /* place-items: center; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

button {
  background-color: #164e63;
  color: white;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  font-size: 18px;
}

i {
  font-size: 24px;
}

header {
  display: flex;
  margin-top: 25px;
  padding-right: 50px;
  justify-content: flex-end;
}

main {
  height: 80vh;
  display: grid;
  place-items: center;
}

.modal {
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border-radius: 14px;
  background-color: #cffafe;
  padding: 20px 40px;
  z-index: 999;
}

.fa-circle-xmark {
  color: #ecfeff;
  font-size: 36px;
  position: absolute;
  top: 15px;
  right: -42px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  backdrop-filter: blur(7px);
}

.escondido {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
